.paper {
  display: grid;
  grid-template-columns: 100px auto;
  margin-bottom: 20px;
  height: 100px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}
  
.avatar {
  width: 80px !important;
  height: 80px !important;
  align-self: center;
  margin: auto;
}